# Check working directory

In [11]:
import os
# Get the current working directory
current_directory = os.getcwd()
# Print the current working directory
print(current_directory)

/Users/tariq/Documents/Research/VITD_bn

# Load dataset

In [12]:
import pandas as pd

In [13]:
file_path = "dataset/data.csv"
df = pd.read_csv(file_path)

In [14]:
df.head()

                                                text         label  target
0  বৌদির দুধ দেকে তো আমার ই চোখ ঠিক ছিলো না - পোল...      Personal       0
1  এই সরকার কে যারা নির্লজ্জের মত সাপোর্ট দিয়েছে ...     Political       1
2  পিলখানা হত্যাকান্ড বাংলাদেশের প্রতিরক্ষা ব্যবস...  Geopolitical       3
3  ভারতের অর্থনীতি নিয়ে আপনাদের ভাবতে হবে না। ভা...  Geopolitical       3
4            খানকির পুলা মালায়নদের মেরে সাফা করে ফেল      Personal       0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5698 entries, 0 to 5697
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5698 non-null   object
 1   label   5698 non-null   object
 2   target  5698 non-null   int64
dtypes: int64(1), object(2)
memory usage: 133.7+ KB

In [16]:
df.label.value_counts()

label
Personal        2189
Geopolitical    1738
Religious        957
Political        814
Name: count, dtype: int64

# Splitting Dataset

In [19]:
from sklearn.model_selection import train_test_split

In [56]:
x_train, x_test, y_train, y_test = train_test_split(df.text, df.target, test_size=0.2, random_state=42)

In [57]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((4558,), (1140,), (4558,), (1140,))

In [58]:
df['data_type'] = ['not_set']*df.shape[0]

In [59]:
df.head()

,text,label,target,data_type
0,বৌদির দুধ দেকে তো আমার ই চোখ ঠিক ছিলো না - পোল...,Personal,0,not_set
1,এই সরকার কে যারা নির্লজ্জের মত সাপোর্ট দিয়েছে ...,Political,1,not_set
2,পিলখানা হত্যাকান্ড বাংলাদেশের প্রতিরক্ষা ব্যবস...,Geopolitical,3,not_set
3,ভারতের অর্থনীতি নিয়ে আপনাদের ভাবতে হবে না। ভা...,Geopolitical,3,not_set
4,খানকির পুলা মালায়নদের মেরে সাফা করে ফেল,Personal,0,not_set

In [60]:
df.loc[x_train.index, 'data_type'] = 'train'
df.loc[x_test.index, 'data_type'] = 'test'

In [61]:
df.sample(30)

,text,label,target,data_type
2930,"ছাত্রসমাজের মূল্যবান ভোট, স্বৈরাচারের বিপক্ষে হোক",Geopolitical,3,train
2550,কম জলের মাছ বেশি জল পেলে এরকম করে,Personal,0,test
982,তুমি লিখে যা ও বোন। কত্ত রেফারেন্স লাগবে ইনবক্...,Political,1,train
609,একেই বলে মালাউন মারকা কথা বার্তা।,Religious,2,train
4817,জাতির জনক বেচে থাকলে তোদের মত বাইনচো দের সব ল...,Political,1,train
4317,দুধ বড় হচ্ছে না? আমার সাথে যোগাযোগ করুন,Personal,0,test
2412,ভাই আপনি একটি শিক্ষিত মানুষের সঙ্গে আলোচনা করব...,Religious,2,test
5576,দুর কুত্তার বাচ্চা নাস্তিকের ঘরের নাস্তিক,Religious,2,train
1799,ইহা কৃতজ্ঞতা নহে ইহা হইতেছে রেন্ডিয়ার প্রতি অা...,Geopolitical,3,train
1278,ভারতে প্রায় হাজারের কাছাকাছি রোহিঙ্গা রয়েছেন...,Geopolitical,3,train
1249,তোর যদি হেডামে কুলাই তাইলে একটা ভুল প্রমাণ কইর...,Religious,2,train
229,সংসদ সদস্যদের ৮০% মূর্খ আর সন্ত্রাসী,Political,1,train
2085,ভারতে আর কি সিরিয়াল দেখাবে মানুশ দেরভারত পুরা ...,Geopolitical,3,train
2667,এই 2ই মাগির ভুধার খাইজ উটছে সবাই চুদে দাউ,Personal,0,train
3554,মুসলিমদের মাথা আর গরুর মাথার মধ্যে খুব একটা পা...,Religious,2,train
5415,ভারতীয় সেনাবাহিনী বাংলাদেশে বিভিন্ত অপারেশন পর...,Geopolitical,3,train
463,গুমহারাম এই মালাউন গরুর বাচ্চা বাংলাদেশে,Religious,2,train
5531,অবশ্যই এর বিচার চাই মুসলিম হয়ে ওই মহিলা নাস্তি...,Personal,0,test
4433,বেমন্মা এডমিন মকবুল তোর মার সাথে প্রথম রাজাকা...,Political,1,train
5659,"একটা জিনিস বুঝলাম না,চোর,গুন্ডা,সন্ত্রাস,ধর্ষক...",Political,1,train
5401,ইনড়িয়া মুসলিম রাষ্ট ছিল থাকরে-- জারা ইয়াহুদি ক...,Religious,2,train
583,"সাব্বাস রানু মন্ডল, অতীত মনে রাখিস না, উকুনের ...",Personal,0,train
4410,আমাদের দেয়ের ইউটিউবার গুলো কি পাগোল না ছাগল। এ...,Personal,0,train
3869,সাকিব-আল-হাসান কে দিয়ে মন্দির উদ্বোধনের খুশিত...,Religious,2,train
5237,আমাদের দেশে কিছু রেন্ডিয়ান বেজন্মা আছে। যাদের ...,Geopolitical,3,train
2539,মেধাবী হলেও জামায়াত-শিবির সরকারি চাকরি পাবে না...,Geopolitical,3,train
184,এই ডানডি খানকি মাগিরে ওলংগো করে পিটানের দরকার,Personal,0,train
153,মাগি ডা অনেক সেক্সি হয়ে গেছে,Personal,0,train
1483,মেয়েরা চুদার পাগল মাগির বাচ্ছা চিনাল বেডির পুরি,Personal,0,test
3776,ফাসিঁ দিছে ঠিক করছে রাজাকারের বাযলার মাটিতে বে...,Political,1,train

In [62]:
df.groupby(['label', 'data_type']).count()

                        text  target
label        data_type
Geopolitical test        373     373
             train      1365    1365
Personal     test        385     385
             train      1804    1804
Political    test        161     161
             train       653     653
Religious    test        221     221
             train       736     736